<div class="container">
	<div class="row">
		<div id="upload_box" class="form-group">
			<h2>Node.js file uploader</h2>
			<span id="upload_area">
				<div>
					<label for="file_box">Choose a file: </label><input type="file" #fileInput class="form-control" (change)="onFileChosen(fileInput)" id="file_box" multiple>
				</div>
				<h2> Files to upload</h2>
				<div style="width: 100%;height: 500px;overflow: auto;">
				<ul style="list-style-type:none">
					<li *ngFor="let fileData of files | values | reverse">
						<div class="row">
						    <div style="display: inline-block;">
						    	<p>File name: {{fileData.file.name}}</p>
						    </div>
						    <p class="success-text" [hidden]="fileData.progress != 100">Success!</p>
							<div [hidden]="fileData.progress == 100">
								<progressbar [animate]="true" [value]="fileData.progress" [type]="type">
									<b>{{fileData.progress | number:'.2-2'}}%</b>
								</progressbar>
								<div id="progress_container">
									<div id="progress_bar">
										{{fileData.progress | number:'.2-2'}}
									</div>
									<span id="percent">{{fileData.progress | number:'.0-2'}} %</span>
									<span id="uploaded">
										Uploaded: {{(((fileData.progress*100) * (fileData.file == null ? 1 : fileData.file.size)) / 10485760) | number:'.2-2'}} MB
									</span>
								</div>
							</div>
							<div style="display:inline-block;">
								<button  type="button" [style.display]="((fileData.paused) || fileData.progress == 100)?'none':'inherit'" (click)="pause(fileData.file.name)" class="btn btn-info">Pause upload</button>
								<button  type="button" [style.display]="(fileData.paused && fileData.progress != 100)?'inherit':'none'" (click)="restart(fileData.file.name)" class="btn btn-info">Continue upload</button>
								<button  type="button" [style.display]="(fileData.progress != 100)?'inherit':'none'" (click)="cancel(fileData.file.name)" class="btn btn-danger">Cancel upload</button>
							</div>
						</div>
					</li>
				</ul>
				</div>
			</span>
		</div>
	</div>
</div>