<div class="container">
	<div class="row">
		<div id="UploadBox" class="form-group">
		    <h2>Node.js file uploader</h2>
		    <span id="UploadArea">
		        <label for="FileBox">Choose a file: </label><input type="file" class="form-control" id="FileBox">
		        <label for="NameBox">Name: </label><input type="text" class="form-control" id="NameBox"><br>
		        <div class="text-center">
		        	<button  type="button" id="UploadButton" onclick="" class="btn btn-info">Upload</button>
		        </div>
		    </span>
		</div>
	</div>
</div>